<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>NF-SefazRS</title>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>
<h1>Dani chapadona</h1>

<div>
    <form action="/nf_sefaz_rs" method="post">
      <div class="form-group">
        <label for="qrcode">qrcode url</label>
        <input type="text" class="form-control" name="qrcode" id="qrcode" aria-describedby="qrcodeHelp" placeholder="Enter QR Code URL">
        <small id="qrcodeHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="passwordQR">Password</label>
        <input type="password" class="form-control" id="passwordQR" name="passwordQR" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>